@font-face{
font-family:roboto_regular;
src:url(./fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff);
}



$bg_color:#171819;
$font_color_1:#8c8585;
$font_color_2:#514c4c;
$very_dark_color:#060707;

$title_border_bottom: 2px;
$title_bar_height: 42px + $title_border_bottom;

$control_min_color:#514c4c;
$control_max_color:#af9b4a;
$control_close:#c12121;

#title_bar{
	background-color:$bg_color;
	color:$font_color_1;
	display:flex;
	font-family:roboto_regular;
	border-color:$very_dark_color;
	border-width:0px 0px $title_border_bottom 0px;
	border-style:solid;

	div{
		float:left;
	}

	#logo{
		width:15%;
	}

	#info{
		width:70%;
		display:flex;
	}



	#info div{
		display:block;
	}
	#info #col_1{
		width:30%;
		
	}
	#info #col_2{
		width:40%;
		font-size:0.9em;
		text-align:center;
		
	}

	#info #col_3{
		width:30%;
		color:$font_color_2;
		font-size:0.9em;
		text-align:right;
		
	}

	#controls_container{
		width:15%;
	}

	#controls_container #controls{
		
		float:right;
		margin-right:5px;
		width:66px;	
	}

	#controls_container #controls .window_control{
		width:20px;
		text-align:center;
		cursor:pointer;
	}

	#controls_container #controls #control_min{
		
		color:#514c4c;
		border-radius:0px 0px 0px 5px;
		border-color:#514c4c;
		border-style:double;
		border-width:thin;

	}

	#controls_container #controls #control_min:hover{
		background-color:#4aaf64;
		color:#fff;

	}

	#controls_container #controls #control_max{
		color:#514c4c;
		border-color:#514c4c;
		border-style:solid none;
		border-width:thin;
	}

	#controls_container #controls #control_max:hover{
		background-color:#af9b4a;
		color:#fff;
	}

	#controls_container #controls #control_close{
		color:#514c4c;
		border-radius:0px 0px 5px 0px;
		border-color:#514c4c;
		border-style:double;
		border-width:thin;
	}

	#controls_container #controls #control_close:hover{

		background-color:#c12121;
		color:#fff;
	}

}

#contents{
	background-color: #000;
	width:100vw;
	height: calc(100vh - #{$title_bar_height});
}


